name: 'Compile'

on:
  workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v6
      - name: setup node
        uses: actions/setup-node@v6      
        with:
          always-auth: false
          node-version: "22.x"
      - run: |
         npm run compile

      - name: Upload Distributable
        uses: actions/upload-artifact@v5.0.0
        with:
          name: dist
          path: |
            ./dist
          retention-days: 2
